body{
    color:#273746;
    background-color: whitesmoke;
}
.navbar{
    font-family: Bradley Hand, cursive;
    background-color: whitesmoke;
}
.navbar-nav {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    
}
.nav-item {
    margin-right: 40px;
    font-size: larger;

}
.jumbotron {
    min-height: 400px;
    background: #f4e2d8;
}

.jumbotron-text{
    margin: 20px 0 0 0;
    font-family: Bradley Hand, cursive;
}
.main-text{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.jumbotron-crop{
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.myPhoto{
    width: 200px;
    margin: -20px 0 0 0;
}
