<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Yiwen Zhang</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/#research">Research</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/portfolio/">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://docs.google.com/document/d/1raCrJr3St6na1tS1UtE7duAAKSF-1mWcJQsZ5u2Td78/edit?tab=t.0">CV</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
      {{ content }}
    </div>

    <div class="block-div" style="margin-bottom: 40pt; text-align: center;" id="resource">
        <h3 class="sub-title">-</h3>
        <h3 class="sub-title">Contact</h3>
        <h3 class="sub-title">-</h3>
        <a href="mailto: yiwenzhang@pitt.edu">Email</a> |
        <a href="https://github.com/yiwenzhang1997">Github</a> |
        <a href="https://www.linkedin.com/in/yiwen-zhang-868368190/">Linkedin</a>
    </div>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
